{include="header"}
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Blank Page</h2>
                <h5>Welcome Jhon Deo , Love to see you back. </h5>
                <ul>
                    {loop="$articles"}
                    {$value.title}
                    </br>
                    {/loop}
                </ul>

            </div>
        </div>
        <!-- /. ROW  -->
        <hr />

    </div>
    <!-- /. PAGE INNER  -->
</div>
{include="footer"}